{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Forums{% endblock %}

{% block content %}
	<table>
		{% for members in object_list %}
			<tr>
				<th>
					<a href="forums/{{ members.id }}">{{ members.title }}</a>
					By: {{ members.author }}
				</th>
			</tr>
			<tr>
				<td>
					{{ members.content|truncatechars:50 }}
				</td>
				<td>
					{{ members.created }}
				</td>
				<td>
					{{ members.created|timesince }}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}