{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}{{ forum.title }} By: {{ forum.author }}{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>
				{{ forum.title }}
				By: {{ forum.author }}
			</th>
		</tr>
		<tr>
			<td>
				{{ forum.content }}
			</td>
		</tr>
		<tr>
			<td>
				{{ forum.created }}
			</td>
		</tr>
	</table>
	<br>
	<form action="" method="post">
		{% csrf_token %}
		{% bootstrap_form form show_label=False %}
		<input id="parrentForm" name="parrentForm" type="hidden" value="{{ forum.id }}">
		<input style="position: relative; right:0" type="submit" value="Comment" />
	</form>
	<br>
	<ul>
	{% for comment in forum.commentmodel_set.all %}
		{% include 'forum/tools/comment_recursion.html' %}
	{% endfor %}
	<ul>
{% endblock content %}