{% load bootstrap3 %}

<li>
	<div class="comment">
	   <p class="author">{{comment.author}}</p>
	   <p class="content">{{comment.content}}</p>
	{% if isuser %}
		<form action="" method="post" class="form-comment">
			{% csrf_token %}
			{% bootstrap_form form show_label=False %}
			<input id="parrentComment" name="parrentComment" type="hidden" value="{{ comment.id }}">
			<input type="submit" class="btn btn-primary" value="Comment" />
		</form>
	{% endif %}
	</div>
	{% if comment.commentmodel_set.all.count > 0 %}
		<ul>
		{% for com in comment.commentmodel_set.all %}
			{% with comment=com template_name="forum/tools/comment_recursion.html" %}
				{% include template_name %}
			{% endwith %}
		{% endfor %}
		</ul>
	{% endif %}
</li>