{% load bootstrap3 %}

<li>
	{{comment.author}} <br>
	{{comment.content}} <br>
	{% if isuser %}
		<form action="" method="post">
			{% csrf_token %}
			{% bootstrap_form form show_label=False %}
			<input id="parrentComment" name="parrentComment" type="hidden" value="{{ comment.id }}">
			<input type="submit" value="Comment" />
		</form>
	{% endif %}
	{% if comment.commentmodel_set.all.count > 0 %}
		<ul>
		{% for com in comment.commentmodel_set.all %}
			{% with comment=com template_name="forum/tools/comment_recursion.html" %}
				{% include template_name %}
			{% endwith %}
		{% endfor %}
		</ul>
	{% endif %}
</li>